<form autocomplete="off" onsubmit="event.preventDefault()">
  <div class="generation-profiles-species">
    {{#each species}}
    <h1>{{species}}</h1>
    <div class="generation-profiles-profiles">
      {{#each profiles}}
      <h2>{{name}}</h2>
      <div class="generation-profiles-inputs">
        <div class="generation-profiles-input form-group">
          <label
            >{{localize
            'WFRP4NPCGEN.settings.generationProfiles.genPath.label'}}</label
          >
          <input name="genPath" type="text" value="{{genPath}}" />
        </div>
        <div class="generation-profiles-input form-group">
          <label
            >{{localize
            'WFRP4NPCGEN.settings.generationProfiles.imagePath.label'}}</label
          >
          <input name="genPath" type="text" value="{{imagePath}}" />
        </div>
        <div class="generation-profiles-input form-group">
          <label
            >{{localize
            'WFRP4NPCGEN.settings.generationProfiles.tokenPath.label'}}</label
          >
          <input name="genPath" type="text" value="{{tokenPath}}" />
        </div>
      </div>
      {{/each}}
    </div>
    <div class="form-group">
      <button type="button"><i class="fas fa-plus"></i></button>
    </div>
    {{/each}}
  </div>
  <footer>
    <button type="submit" name="submit" value="1">
      <i class="far fa-save"></i> {{localize 'WFRP4NPCGEN.common.button.OK'}}
    </button>
  </footer>
</form>
