<form autocomplete="off">
  <div class="form-group">
    <button id="randomSpeciesOthersButton" type="button">
      {{localize 'WFRP4NPCGEN.common.button.Random'}}
    </button>
  </div>
  {{#each others.model}}
  <div class="form-group species-others-row">
    {{#each this.model}}
    <div class="species-others-radio-row">
      <label class="species-others-radio-row-label">{{value}}</label>
      {{#if selected}}
      <input
        class="species-others-radio-row-radio species-other-radio"
        value="{{key}}"
        data-id="{{../id}}"
        type="radio"
        name="select-others-{{key}}"
        checked
      />
      {{else}}
      <input
        class="species-others-radio-row-radio species-other-radio"
        value="{{key}}"
        data-id="{{../id}}"
        type="radio"
        name="select-others-{{key}}"
      />
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{/each}} {{#if showOrigin}}
  <div class="form-group">
    <button id="randomOrigin" type="button">
      {{localize 'WFRP4NPCGEN.common.button.Random'}}
    </button>
  </div>
  <div class="form-group">
    <label> {{originLabel}} </label>
    <select id="originSelect">
      {{#each origins}} {{#if selected}}
      <option value="{{key}}" selected="selected">{{localize value}}</option>
      {{else}}
      <option value="{{key}}">{{localize value}}</option>
      {{/if}} {{/each}}
    </select>
  </div>
  {{#if showOriginOthers}}
  <div class="form-group">
    <button id="randomSpeciesOriginOthersButton" type="button">
      {{localize 'WFRP4NPCGEN.common.button.Random'}}
    </button>
  </div>
  {{#each origin.model}}
  <div class="form-group species-origins-row">
    {{#each this.model}}
    <div class="species-origins-radio-row">
      <label class="species-origins-radio-row-label">{{value}}</label>
      {{#if selected}}
      <input
        class="species-origins-radio-row-radio species-origin-other-radio"
        value="{{key}}"
        data-id="{{../id}}"
        type="radio"
        name="select-origins-{{key}}"
        checked
      />
      {{else}}
      <input
        class="species-origins-radio-row-radio species-origin-other-radio"
        value="{{key}}"
        data-id="{{../id}}"
        type="radio"
        name="select-origins-{{key}}"
      />
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{/each}} {{/if}} {{/if}} {{#if showRandomTalent}}
  <div class="form-group">
    <button id="randomRandomTalentsButton" type="button">
      {{localize 'WFRP4NPCGEN.common.button.Random'}}
      ({{selectableRandomTalentsNbr}})
    </button>
  </div>
  <div class="form-group species-others-checkboxes-container">
    {{#each randomTalents}}
    <div class="form-group species-others-checkbox-container">
      <label class="species-others-checkbox-label">{{value}}</label>
      {{#if selected}}
      <input
        class="species-others-checkbox random-talent-checkbox"
        value="{{key}}"
        type="checkbox"
        name="select-random-talents-{{key}}"
        checked
      />
      {{else}}
      <input
        class="species-others-checkbox random-talent-checkbox"
        value="{{key}}"
        type="checkbox"
        name="select-random-talents-{{key}}"
      />
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{/if}} {{> (buttonsTemplate)}}
</form>
