.chooser-actions-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chooser-actions-button {
  flex: 1;
}

.chooser-form-button {
  max-width: 32px;
}
