.generation-profiles-species {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.generation-profiles-profiles {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
}

.generation-profiles-profiles h2 {
  border-bottom: none;
  margin-right: 20px;
}

.generation-profiles-inputs {
  flex: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.generation-profiles-input {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.generation-profiles-input label {
  flex: 5% !important;
}
