.wfrp4e-npc-generator-dialog .dialog-content {
  flex: 100%;
}

/*.wfrp4e-npc-generator-dialog .creature-chooser {*/
/*  height: 100%;*/
/*}*/

.wfrp4e-npc-generator-dialog .creature-chooser-img {
  /*flex-direction: row;*/
  /*align-items: stretch;*/
  /*display: flex;*/
  /*justify-content: center;*/
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
}

.wfrp4e-npc-generator-dialog .creature-chooser-img img {
  /*max-width: 50%;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
